
  :root {
    font-size: calc(1rem + 0.5vw);
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    border: 0.5ch solid rgba(72,205,49,255);
    margin: 1.5rem;
    padding: 2.5rem;
    height: auto; 
    background: rgba(135,206,235,255);
    color: rgba(238,238,238,255); 
  }
      
  h1{
      text-align: center;
      font-family: serif;
      font-style: italic;
  }

 #top_nav{
     display: flex;
     padding: auto;
     margin: auto;
     justify-content: center;
     line-height: 1px;
 }
 li{
     list-style-type: none;
     padding: .5em;

 }
 li + li {
    border-left: 2px solid rgba(128,136,139,255);

}
 
 
 /* clearfix floating images*/
  section::after {
    content: "";
    clear: both;
    display: table;
  }
  img{
      width: 250px;
      height: auto;
      display: flex;
      float: right;
    }
    #ul_socials{
        display: flex;
        padding: auto;
        margin: auto;
        justify-content: center;
        line-height: 1px;
    }
    a {
        color: green;
        font-weight: 600;
      }

